Package: plasma-wallpapers-poses
Version: 25.03.12-09315ac
Section: kde
Priority: optional
Maintainer: Michael Schaecher <MichaelLeeSchaecher@gmail.com>
Installed-Size: 27056
Homepage: https://github.com/MichaelSchaecher/plasma-wallpapers-poses
Architecture: amd64
Depends: plasma-desktop
Build-Depends: debhelper (>= 11), git, make (>= 4.1), dpkg-dev
Description: Wallpapers for the Plasma desktop
